[submodule "contrib/mp11"]
	path = contrib/mp11
	url = https://github.com/boostorg/mp11.git
[submodule "contrib/preprocessor"]
	path = contrib/preprocessor
	url = https://github.com/boostorg/preprocessor.git
